html,
body {
  height: 100%;
}

#root {
  height: 100%;
  background-color: #f7f7f7;
}

.smls-main-container {
  background-color: #f7f7f7;
  height: auto;
  padding-bottom: 20px;
}

.smls-jobs-container {
  margin-left: 55px;
  margin-right: 55px;
}

.smls-header {
  width: 100%;
  background-color: #fff;
}

.smls-header-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.smls-header-logout {
  align-items: center;
  display: flex;
}

.smls-header-right {
  float: right;
  margin-left: auto;
}

.smls-header-link {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #1a1a1a;
}

.smls-logo {
  object-fit: contain;
}

.smls-logout {
  width: 24px;
  height: 24px;
  object-fit: contain;
  margin-right: 5px;
}

.smls-header {
  height: 60px;
}

.smls-header-jobs-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.smls-header-active {
  border-bottom: 2px solid #016bff;
}

.smls-header-information {
  border-right: 1px solid #9299a3;
}

.smls-information {
  width: 24px;
  height: 24px;
  object-fit: contain;
  margin-right: 5px;
  cursor: pointer;
}
