commands:
  update_yum:
    command: 'sudo yum update -y'
  install_monitoring_tool:
    command: 'sudo yum install htop -y'
  install_docker:
    command: 'sudo amazon-linux-extras install docker'
  start_docker:
    command: 'sudo service docker start'
  no_sudo_for_this_app:
    command: 'sudo usermod -a -G docker webapp'
  no_sudo_during_ssh:
    command: 'sudo usermod -a -G docker ec2-user'
