::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #dde0e5;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}